In [1]:
myAge = 32
print(myAge)

32

In [2]:
myAge = 33
print(myAge)

33

In [3]:
print(myAge / 3)

11.0

In [4]:
myAge = myAge + 1
print(myAge)

34

In [5]:
# Challenge
# 1) Create a variable called "restaurantBill" and set its value to 36.17
# 2) Create a variable called "serviceCharge" and set its value to 0.125
# 3) Print out the amount of tip
restaurantBill = 36.17
serviceCharge = 0.125
print(restaurantBill * serviceCharge)

4.52125

In [6]:
type(33)

int

In [7]:
type(33.6)

float

In [8]:
type('Philipp')

str

In [9]:
type(myAge)

int

In [10]:
type(restaurantBill)

float

In [11]:
myName = 'Marcelo'
type(myName)

str

In [12]:
firstPrime = 1
secondPrime = 2
thirdPrime = 3

primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

list

In [13]:
coolPeople = ['Jay Z', 'Ghandi', "me"]
primeAndPeople = ['King Arthur', 17, 11, 'Jennifer Lopez']
type(primeAndPeople)

list

In [14]:
primeNumbers[2]

61

In [15]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199