In [3]:
myAge = 32
print(myAge)

32

In [4]:
myAge = 33
print(myAge)

33

In [5]:
print(myAge / 3)

11.0

In [6]:
myAge = myAge + 1
print(myAge)

34

In [7]:
# Challenge
# 1) Create a variable called "restaurantBill" and set its value to 36.17
# 2) Create a variable called "serviceCharge" and set its value to 0.125
# 3) Print out the amount of tip
restaurantBill = 36.17
serviceCharge = 0.125
print(restaurantBill * serviceCharge)

4.52125

In [8]:
type(33)

int

In [9]:
type(33.6)

float

In [10]:
type('Philipp')

str

In [11]:
type(myAge)

int

In [12]:
type(restaurantBill)

float

In [13]:
myName = 'Marcelo'
type(myName)

str

In [14]:
firstPrime = 1
secondPrime = 2
thirdPrime = 3

primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

list

In [15]:
coolPeople = ['Jay Z', 'Ghandi', "me"]
primeAndPeople = ['King Arthur', 17, 11, 'Jennifer Lopez']
type(primeAndPeople)

list

In [16]:
primeNumbers[2]

61

In [17]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [18]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [19]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [20]:
type(data)

pandas.core.frame.DataFrame

In [21]:
onlyMathScores = data['Avg_Math_Test_Score']
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [22]:
data['Test_Subject'] = 'Jennifer Lopez'

In [23]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [24]:
data['High_Score'] = 100

In [25]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [26]:
# Challenge: Overwrite values in rows for High_Score to equal average score + 100
data['High_Score'] = data['Avg_Math_Test_Score'] + 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [27]:
# Challenge: Square the values stored inside High_Score
data['High_Score'] = data['High_Score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [28]:
type(onlyMathScores)

pandas.core.series.Series

In [29]:
# Challenge: Create a list called columnList. Put 'LSD_ppm' and 'Avg_Math_Test_Score' inside.
# columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [30]:
type(cleanData)

pandas.core.frame.DataFrame

In [31]:
y = data[['Avg_Math_Test_Score']]

In [32]:
type(y)

pandas.core.frame.DataFrame

In [33]:
# Challenge: 1) Create a variable called x
# set x equal to the values of LSD_ppm
# Make sure x is a dataframe
# 2) print the value of x
# 3) show the type of x
x = data[['LSD_ppm']]
print(x)
type(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [34]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [35]:
# Challenge: Delete High_Score column from data
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [36]:
import life as hitchhikersGuide

In [37]:
type(hitchhikersGuide)

module

In [38]:
hitchhikersGuide.theAnswer

42

In [39]:
# Challenge: 1) import math module 2) print out value of pi 3) print out value of e
import math
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [40]:
from life import theAnswer
theAnswer

42

In [41]:
myFavoriteNumber = theAnswer
print(myFavoriteNumber)

42

In [42]:
theAnswer = theAnswer + 1

In [43]:
print(theAnswer)

43

In [44]:
def get_milk():
    print('Open door')
    print('Walk to the store')
    print('Buy milk on the ground floor')
    print('Return with milk galore')

In [45]:
get_milk()

Open door
Walk to the store
Buy milk on the ground floor
Return with milk galore

In [46]:
def fill_the_fridge(amount):
    print('Open door')
    print('Walk to the store')
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [47]:
fill_the_fridge('five')

Open door
Walk to the store
Buy five cartons on the ground floor
Return with milk galore

In [48]:
fill_the_fridge('one thousand')

Open door
Walk to the store
Buy one thousand cartons on the ground floor
Return with milk galore

In [50]:
def milk_mission(amount, destination):
    print('Open door')
    print('Walk to the ' + destination)
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [51]:
milk_mission('twenty', 'department store')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
Return with milk galore

In [54]:
milk_mission('twenty', destination = 'department store')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
Return with milk galore

In [5]:
def times(a, b):
    return a * b

In [6]:
test = times(3.14, 5.09)
print(test)

15.9826

In [7]:
times('Ni', 4)

'NiNiNiNi'